body {
  background-color: black; /*#C3B091;*/
}

h4 {
  color: Red;
}

.content{
  margin: 10px;
  padding-left: 10px;
  text-align: left;
}
.tradingview-widget-container {
  text-align: center;
}
/*Red boarder around a content div.*/
#clockbox {
  color: white;
  font-size: 20px;
  text-align: left;
}

#ref{
  text-align: center;
  padding-left: 5px;
}
