/*
4rticle CSS
*/

/**
Color Reference: https://www.color-hex.com/color/d2b48c
*/
body {
  background-color: black;/*999988, 008080*/
}
p {
  /*color: #999988;*/
  color: #999988;
}

.primary-container {
  text-align: center;
  margin-top: 3%;
}

.article-container {
  border: 5px 10px 10px 5px;
  margin-left: 5px;
  border-style: double;
  border-width: medium;
  width: 50%;
  background-color: tan;
  padding: 15px 5px 5px 15px;
  margin-left: 25%;
  display: block;
  position: fixed;
}

#intro {
  text-align: center;
}

header {
  text-align: center;
  margin-top: 5px;
}

h1, h2, h3 {
  text-align: center;
}
