/*~/.cache/wal/colors.css*/
@import "../colors/ocean.css";

* {
      font-family: "Iosevka";
      font-size: 20px;
}

html {
  background-color: var(--background);
  color: var(--forground);
}

.data {
  width: 700px;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
}

.subjects {
  float: left;
  margin: 1;
  width: 20%;
  text-align: left;
}

.items {
    float: left;
    margin 0;
    width: 80%;
    text-align: left;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--foreground);
}

a:hover {
  font-weight: 700;
  color: var(--color9);
}

a:visited {
  color: var(--foreground);
}

.cat {
  font-weight: 700;
  color: var(--foreground);
}


p {
  text-align: center;
}

details{
  color: var(--foreground);
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  width: 55%;
}
.tradingview-widget-container {
  margin-top: 1%;
  text-align: center;
}

.tradingview-widget-container__widget {
  display: inline-block;
}

.tradingview-widget-container__widget{
  border-style: inset;
  text-align: center;
  padding-bottom: 0%;
}

#clockbox {
  padding: 1%;
  color: var(--foreground);
}

footer {
   position:absolute;
   bottom:0;
   margin-left: 5px;
   margin-bottom: 5px;
   width:100%;
   height:40px;   /* Height of the footer */
   color: #587888;
   font-size: 15px;
}
