body {
  background-color:#e6dbc9 /*#C3B091;*/
}

h2{
  font-family: Roboto;
  margin-top: 50px;
  margin-left: 10%;
}


p {
  font-family: Roboto;
}

details{
  font-size: 16px;
  font-family: monospace;
  padding-bottom: 15px;
  position:relative;
}

summary {
  font-style: monospace;
  color: #7B3F00;
  font-size: 18px;
}

mark{
  background-color: #E9E0D0;
}


.primary-container {
  text-align: left;

}

.sidebar {
  text-align: left;
  position: fixed;
  margin-left: 16%;
}

.home-content {
    text-align: right;
    display: inline-block;
    margin-top: 25px;
    margin-left: 7%;
}
