/*~/.cache/wal/colors.css*/
@import "$HOME.cache/wal/colors.css";

* {
      font-family: "Iosevka";
      font-size: 20px;
}

html {
  background-color: var(--background);
  color: var(--forground);
}
