body {
  background-image: url(cell.jpg);
}

h2{
  text-align: center;
  margin: 4%;
  color: blue;
}
p {
  text-align: center;
  font-size: 18px;
  color: white;
}

hr{
  width: 40%
}

ul.h li {
  font-size: 22px;
  margin: 5px;
  list-style-type: none;
}

ul.c li {
  font-size: 20px;
  margin: 5px;
  text-align: center;
  color: white;
}

.content {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: solid underline blue 5px;

}
