body {
  background-color: black; /*#C3B091;*/
}

h2{
  font-family: Roboto;
  margin-top:5%;
  margin-left: 10%;
}

p {
  font-family: Roboto;
  color: white;
}

hr {
  width: 25%;
  margin-left: 5px;
}

details > summary {
  padding: 2px 6px;
  width: 6em;
  color: darkgreen;
  background-color: #ddd;
  border: none;
  box-shadow: 3px 3px 4px black;
  margin-bottom: 10px;
}

details > p {
  border-radius: 0 0 10px 10px;
  padding: 2px 6px;
  margin: 0;
  margin-bottom: 5px;
  box-shadow: 3px 3px 4px black;
}

mark{
  background-color: #E9E0D0;
}

.content {
  text-align: left;
  margin-top: 20px;
  margin-left: 5px;
}

.primary-container {
  text-align: left;

}

nav {
  text-align: left;
}

.home-content {
    text-align: center;
    display: inline-block;
    margin-top: 25px;
    margin-left: 7%;
}

.stuff-content {
}
ul.button {
  list-style-type: none;
  margin-top:  10px;

  padding: 0;
  width: 55px;
  background-color: tan;
}

a:visited {
  color: white;
}

#btn a{
  display: block;
  color: #000;
  padding: 8px 8px;
  text-decoration: none;
}

/* Change the link color on hover */
