

h2,h3 {
  text-align: left;
  font-family: arial;
  font-size: 20px;
  color: 		#657b83; 	/*#93a1a1;*/
  padding: 5px 5px 5px 5px;
}

.text-container {
  text-align: left;
  padding-left: 10px;

}

.text{
  display: inline-block;
  width: 50%;
}

h3{
  color: orange 		;
}

h5{
  text-align: left;
  font-family: arial;
  font-size: 15px;
  color: 		white; 	/*#93a1a1;*/
  padding: 1px 1px 1px 1px;
}

/*
#first{
  font-size: 18px;
  text-align: center;
  font-family: monospace;
  color: #657b83	; #657b83
}
*/

ul {
  font-size: 16px;
  text-align: left;
  font-family: sans-serif;
  color: #93a1a1	; /*#657b83*/
}

/*
.border {
  border-style: solid;
  border-color: darkgreen;
  border-width: thin;
  border-radius: 10px;
}
*/

p {
  font-size: 15px;
  text-align: justify;
  font-family: monospace;
  color: white;
  /*#657b83*/
}

img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

address {
  font-size: 15px;
  text-align: justify;
  font-family: monospace;
  color: #93a1a1	; /*#657b83*/
}


body {
  background-color: black;
  /*
  background: url("https://i.imgur.com/c1qdh6e.png");
  background: url("https://i.imgur.com/prCkFvd.jpg");
  background: url("https://i.imgur.com/Dw6L2H9.png");
  background-color:	#073642; */
}
